header{
    background-color: 	#6e9474;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

.top-bar{
    background-color: #3f3f3f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

.top-bar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

.top-bar a:hover {
    background-color: #eeeeee;
    color: #3f3f3f;
    border-radius: 15px;
}

.Body-Body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3f3f3f;
    font-size: x-large;
    text-align: center;
    padding: 50px;
}

.myo-body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3f3f3f;
    font-size: large;
    text-align: center;
    padding: 50px;
    
}

textarea {
    resize: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: #3f3f3f;
}

button {
    background-color: #F15025;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 15px;
    border: 2px solid #F15025;
    padding: 3px 5px;
    box-shadow: none;
    outline: none;
}

button:hover {
    background-color: #3f3f3f;
    color: white;
    border: 2px solid #3f3f3f;
}

img {
    display: block;
    width: 50%;
    size: 3px;
    align-items: left;
    padding: 30px;
    border-radius: 60px;
}

.imagenm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.imagenm img {
    width: 300px;
    border-radius: 50px;
}

.textnextnm {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3f3f3f;
    text-align: center;
}

.About {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3f3f3f;
    text-align: center;
    padding: 50px;
}

.abtstt {
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3f3f3f;
    text-align: center;
    padding: 20px;
}
